* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
:root {
  --primary-color: #cd8245;
  --secondary-color: #edd0b7;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #e6e6e6;
  --light-gray: #f7f7f7;
  --dark-gray: #636363;
  --light-blue: #0070c9;
  --dark-hover: #7e0606;
  --white: #fff;
  --black: #000000;
  --green: #00d46f;
}
.btn-cbg-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}
.btn-cbg-primary:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-cbg-primary-outline:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}
.btn-cbg-primary-outline {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.User__icon i {
  font-size: 20px;
  color: var(--secondary-color);
  cursor: pointer;
}
.title_nav {
  background: var(--primary-color);
}
.title_nav:hover {
  background: var(--secondary-color) !important;
}
.add_btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}
.add_btn:hover {
  background-color: var(--white);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.cb_badges_status1 {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 2px 4px;
}
/* input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
}
input:-webkit-autofill:focus-within {
  -webkit-box-shadow: 0 0 0 30px white inset;
  box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
} */

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  min-width: 230px;
}
